<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>766246137193-kc14a8t10u337bs7sckuktjtkf6hpngk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.766246137193-kc14a8t10u337bs7sckuktjtkf6hpngk</string>
	<key>API_KEY</key>
	<string>AIzaSyCi50dSXAhON4kjs8nsVkOS-PYAmT2OtW8</string>
	<key>GCM_SENDER_ID</key>
	<string>766246137193</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>info.SozlukUygulamasi</string>
	<key>PROJECT_ID</key>
	<string>udemyegitim-f9c48</string>
	<key>STORAGE_BUCKET</key>
	<string>udemyegitim-f9c48.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:766246137193:ios:70e89425cdca05ba</string>
	<key>DATABASE_URL</key>
	<string>https://udemyegitim-f9c48.firebaseio.com</string>
</dict>
</plist>